@page "/demand-overview/{demandId:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>Demand Overview</h3>

<!-- Back to List Button -->
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-secondary me-2" @onclick="NavigateToList">Back to List</button>
</div>

<!-- Tab Interface -->
<div class="tab-container">
    <ul class="nav nav-tabs" id="demandOverviewTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="details-tab" data-bs-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <!-- Overview Component -->
            <OverviewComponent DemandId="@DemandId" />
        </div>
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <!-- Demand Details Component -->
            <DetailsComponent DemandId="@DemandId" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int DemandId { get; set; }

    private void NavigateToList()
    {
        Navigation.NavigateTo("/demand-list");
    }
}
